/* Grid Layout für den Hauptcontainer */
#inhalt {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 12 Spalten */
    grid-column-gap: 20px;
    /* Abstand zwischen den Grid-Elementen */
    margin: 10px;
    /* Außenabstand des Containers */
}

body {
    background-image: url("../bilder/Tag_sonnig_Bahnhofstrasse_Zürich.png"), url("../bilder/Hintergrund_Textur.jpg");
    background-size: 85%, cover;
    background-attachment: scroll, scroll;
    background-position: top, center;
    background-repeat: no-repeat, repeat;
    width: 100%;
}

/* Sinnvolle Platzierung der Elemente im Grid */
/* Beispiel: Überschrift über die gesamte Breite */
h3 {
    grid-column: 2 / span 10;
    font-size: 1.5em;
    color: #333;
    margin: 0;
    font-weight: bold;
    font-family: akzidenz-grotesk, sans-serif;
    text-transform: uppercase;
    text-align: left;
}

/* Datum und Uhrzeit nebeneinander */
h1 {
    font-family: "ff-typestar-ocr-web-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15vh;
    margin: 0;
}

h1#datum {
    grid-column: 2/ span 7;
    text-align: left;
}

h1#uhrzeit {
    grid-column: 9 / span 3;
    text-align: right;
}

/* Passanten-Anzahl über die gesamte Breite */
h2 {
    font-family: "ff-typestar-ocr-web-pro", sans-serif;
    font-weight: 400;
    font-size: 10vh;
    font-style: normal;
    margin: 0;
}

h2#menschen {
    grid-column: 2/ span 10;
    text-align: left;
}

#trapez {
    grid-row: 4;
    grid-column: span 12;
    width: 90vw;
    height: 25vh;
    clip-path: polygon(40% 0, 60% 0, 100% 100%, 0% 100%);
    /* background-color: #e0e0e0;  */
    position: relative;
    overflow: hidden;
    margin-top: 48vh;
    margin-left: 5vw;
  }
  
  .point {
    width: 16px;
    height: 8px;
    background-color: #0077ff;
    border-radius: 50%;
    position: absolute;
}

/* Text über 12 Spalten */
p {
    grid-column: span 12;
    font-size: 1.1em;
    margin: 0;
}

/* Text über 6 Spalten */
#fliesstext {
    grid-row: 5;
    grid-column: 2/ span 6;
    margin: 0;
    margin-top: 20vh;
}

/* Diagramm über 12 Spalten */
#divDiagramm {
    grid-column: span 12;
    padding: 20px;
    border-radius: 10px;
}

/* Footer über 12 Spalten */
footer {
    grid-column: span 12;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Dropdown Styling */
#dropdownDiagramm {
    padding: 10px;
    margin: 10px 0;
    font-size: 1em;
    border-radius: 5px;
    width: 100%;
}

/* Diagramm-Container */
#my-chart {
    margin-top: 20px;
    text-align: center;
}

/* Medienabfrage für kleinere Bildschirme */
@media (max-width: 768px) {
    #inhalt {
        grid-template-columns: repeat(6, 1fr);
        /* 6 Spalten auf kleineren Bildschirmen */
    }

    h1#datum,
    h1#uhrzeit {
        grid-column: span 6;
        /* Auf kleinen Bildschirmen beide H1s untereinander */
    }

    #divDiagramm,
    h2#menschen,
    img#bild,
    footer {
        grid-column: span 6;
        /* Diese Elemente nehmen weiterhin die volle Breite ein */
    }
}

#my-chart {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

canvas {
    width: 100% !important;
    height: auto !important;
}
